* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d1bead;
  font-family: monospace;
  cursor: crosshair;
}

header {
  font-weight: bold;
  align-items: baseline;
  background-color: #5169a7;
}

.listText {
  font-size: 22px;
  font-weight: bold;
}

.headNav {
  padding-top: 60px;
  flex-direction: row;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

a:hover {
  color: orange;
}

.boughtContainer {
  display: flex;
  background-color: #d09d72;
  flex-direction: row;
  line-height: 40px;
}

.additionIcon {
  padding: 23px;
  font-size: 90px;
}

.boughtText {
  font-size: large;
  margin-top: 30px;
  margin-left: 40%;
}

.preference {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0.5rem;
}

.checkbox-left {
  float: left;
  margin-right: 10px;
}

.nullWord {
  text-decoration: line-through;
}

.food {
  padding-top: 25px;
}

.foodPrices {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.listForms {
  padding: 30px;
  margin-left: 15px;
}

.text-line {
  background-color: transparent;
  color: black;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid purple 1px;
  padding: 3px 10px;
}

.text-line2 {
  background-color: transparent;
  color: black;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid blue 1px;
  padding: 3px 10px;
}

.editText {
  padding: 15px;
}

.editButton {
  background-color: #008cba; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 30%;
}

.price {
  text-align: right;
}

.totalPrice {
  text-align: right;
  padding-top: 10px;
}
