* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100px;
}

body {
  background-color: #d1bead;
  font-family: monospace;
  cursor: crosshair;
}

header {
  font-weight: bold;
  align-items: baseline;
  background-color: #5169a7;
}

.listText {
  font-size: 22px;
  font-weight: bold;
}

.headNav {
  padding-top: 60px;
  flex-direction: row;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

a:hover {
  color: orange;
}

.boughtContainer {
  display: flex;
  background-color: #d09d72;
  flex-direction: row;
  line-height: 40px;
}

.additionIcon {
  padding: 23px;
  font-size: 90px;
}

.boughtText {
  font-size: x-large;
  margin-top: 30px;
  margin-left: 40%;
}
